Package: ragnarok-installer
Version: 01
Section: devel
Priority: optional
Architecture: amd64
Maintainer: Ian LeCorbeau <I-LeCorbeau@protonmail.com>
Depends: mmdebstrap,
 arch-install-scripts,
 wget
Description: Ragnarok's installer
 This package provides the ragnarok installers.
